.App {
  text-align: justify;
  justify-content: center;
  font-size: calc(11px + 1vmin);
}

body {
  background-color: #FDFDFB;
  color: #333;
}

.h1{
  font-size: x-large;
}

.container {
  margin: 0;
  padding: 0;
}

.row{
  padding: 10px;
}

.col{
  padding: 10px;
}

.logo-image {
  max-width: 60%;
  height: auto;
  border: #333 solid;
  border-radius: 50%;
}

.details-header{
  background: linear-gradient(to bottom, rgb(68, 236, 68), #FDFDFB); 
}

.side-details{
  text-align: center;
}

.navbar {
  font-size: larger;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.nav-link {
  color: #555;
}
