/* General */

:root {
  --text-black: #333;
  --bg-white: #fdfdfb;
  --main-green: #35ad2e;
  --light-green: #44ec44;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-white);
}

.App {
  color: var(--text-black);
  font-family: Helvetica, sans-serif;
}

.social-button{
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

.social-button.center{
  justify-content: center;
}

.social-button.left{
  justify-content: left;
  margin-right: 2rem;
}

.social-button span{
  margin-inline: 8px;
  padding: fill;
}

.social-button a{
  color: inherit;
  text-decoration: none;
}

.container{
  margin-top: 3rem;
  margin-bottom: 5%;
}

/* Navigation bar */

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  background-color: var(--main-green);
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top-navbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.nav-ul{
  margin: 0;
  padding-left: 1rem;
  display: flex;
}

.nav-ul-header{
  padding-right: 1.7rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .nav-ul-header{
    display: none;
  }
}

.nav-li{
  padding: 0;
  padding-inline: 1rem;
  list-style: none;
  display: flex;
}

.nav-link {
  padding: 0.7rem;
  color: inherit;
  text-decoration: none;
}

.nav-link:hover{
  background-color:#ffffff36;
}

.nav-link.active{
  background-color:#ffffff7a;
}

/* Homepage */

.row-header{
  background: linear-gradient(to bottom, var(--light-green), var(--bg-white));
  margin-left: calc((100vw - 100%) / -2) !important;
  padding-left: calc((100vw - 100%) / 2);
  margin-right: calc((100vw - 100%) / -2) !important;
  padding-right: calc((100vw - 100%) / 2);
  justify-content: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.col-image{
  justify-content: center;
}

.col-details{
  text-align: center;
}

.profile-image {
  width: 50%;
  height: auto;
  border: var(--text-black) solid 0.2rem;
  border-radius: 50%;
}

.button-container{
  justify-content: center;
}

/* Project page */

.project-card{
  background-color: #44ec44;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2%;
}

.image-card{
  margin: 2.5%;
  width: 95%;
  height: 12rem;
  object-fit: cover;
  border: solid 3px white;
}

.button-card {
  width: 60%;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,#1212121a 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-card:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* Project popup*/
.popup-project {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #00000080;
}

.popup-container{
  width: 90%;
  height: 80%;
  background-color: var(--bg-white);
  overflow-y: scroll;
  padding: 4%;
  margin-inline: 5%;
  margin-top: 13vh;
  text-align: right;
}

.post-container{
  margin-top: 0.5rem;
  text-align: left;
}

.post-container h1{
  color: var(--main-green);
  font-weight: bold;
}

.post-container p{
  margin-bottom: 0.5rem;
}

.post-links{
  margin-top: 1rem;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
}

.post-image{
  margin-top: 2rem;
  width: auto;
  height: auto;
  max-height: 75vh; 
}